body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    overflow: hidden;
}

.main {
    display: flex;

    .sidebar {
        position: fixed;
        width: 240px;
        height: 607px;
        background-color: #ffffff;
        border-right: 1px solid #ececec;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 117px;
                height: 54px;
            }
            i {
                margin-right: 11px;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .sidebar-menu {
            list-style: none;
            padding: 0;
            margin: 20px 0;

            .menu-item {
                padding: 10px 0;
                display: flex;
                align-items: center;
                color: #555;
                cursor: pointer;
                justify-content: space-between;
                transition:
                    background-color 0.3s,
                    color 0.3s;
                    a{
                        color: #555;
                        text-decoration: none;
                    }
                &:hover {
                    background-color: #00c292;
                    color: #ffffff;
                }
                i {
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }

        .sidebar-footer {
            margin-top: auto;

            .dark-mode-toggle {
                border-bottom: 1px solid grey;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                i {
                    margin-right: -100px;
                    margin-bottom: 20px;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 34px;
                    height: 20px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: 0.4s;
                        border-radius: 34px;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 14px;
                            width: 14px;
                            left: 3px;
                            bottom: 3px;
                            background-color: white;
                            transition: 0.4s;
                            border-radius: 50%;
                        }
                    }

                    input:checked + .slider {
                        background-color: #00c292;
                    }

                    input:checked + .slider:before {
                        transform: translateX(14px);
                    }
                }
            }

            .profile-info {
                margin-top: 20px;
                display: flex;
                align-items: center;

                img {
                    border-radius: 50%;
                    width: 33px;
                    height: 32px;
                    margin-right: 10px;
                }

                .profile-details {
                    display: flex;
                    flex-direction: column;
                    .name {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .email {
                        font-size: 12px;
                        color: #555;
                    }
                }

                .pro-badge {
                    background-color: #0c302717;
                    color: blue;
                    font-weight: 500;
                    padding: 2px 5px;
                    border-radius: 12px;
                    margin-left: auto;
                }
            }
        }
    }

    .content {
        
        width: 700px;
        margin-left: 300px;
        color: black;

        .content-head {
            margin-top: 20px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            .content-start {

                display: flex;

                h2 {
                    font-size: 18px;
                }
                p {
                    margin-top: 16px;
                    font-size: 17px;
                    margin-left: 7px;
                    color: #b3b1b1;
                    font-weight: 600;
                }
            }

            .search-bar {
                margin-right: 34px;
                font-size: 12px;
                height: 28px;
                width: 298px;
            }
        }
        .tabs {
            .tab {
                display: flex;
                button {
                    margin-top: 16px;
                    width: 119px;
                    margin-left: 11px;
                    height: 35px;
                    border: none;
                    color: black;
                    background-color: #efefef;
                    i {
                        font-size: 19px;
                        margin-right: 10px;
                    }
                    &:hover {
                        color: white;
                        background-color: #00c292;
                    }
                }
            }
            .tabcontent {
                height: 415px;
            overflow-y: scroll;
                display: none;
                margin-top: 28px;
                .breakfast-1 {
                    margin-top: 28px;
                    display: flex;
                    .product {
                        margin-left: 20px;
                        img {
                            width: 135px;
                            height: 120px;
                        
                        }
                        h3 {
                            font-size: 15px;
                            margin-top: 5px;
                        }
                        p {
                            font-size: 14px;
                            margin-top: -10px;
                            color: grey;
                        }
                    }
                }
                .breakfast {
                    margin-top: 0px;
                    display: flex;
                    .product {
                        margin-left: 20px;
                        img {
                            width: 135px;
                            height: 120px;
                        
                        }
                        h3 {
                            font-size: 15px;
                            margin-top: 5px;
                        }
                        p {
                            font-size: 14px;
                            margin-top: -10px;
                            color: grey;
                        }
                    }
                }
            }
        }
        .content-fotter {
            background-color: #ededed;
            margin-top: 0px;
            height: 80px;
            margin-left: -19px;
            .cards {
                display: flex;
                margin-left: 20px;
                .fotter-card {
                    border-radius: 8px;
                    padding-top: 6px;
                    padding-left: 10px;
                    width: 185px;
                    height: 41px;
                    margin-left: 20px;
                    background-color: white;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-top: 19px;
                    .div-t5 {
                        background-color: #e3dddd;
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        h3 {
                            margin-top: 10px;
                            margin-left: 5px;
                            font-size: 19px;
                        }
                    }
                    .fotter-body {
                        margin-left: 20px;
                        .div-1 {
                            display: flex;
                            h4 {
                                font-size: 12px;
                                margin-right: 7px;
                                margin-top: 3px;
                            }
                            button {
                                padding-top: 3px;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                border: none;
                                border-radius: 15px;
                                background-color: #bcf7e8;
                                color: #00c292;
                                width: 57px;
                                height: 18px;
                                font-size: 10px;
                                i {
                                    font-size: 5px;
                                    color: #00c292;
                                    margin-right: 3px;
                                    margin-top: 3px;
                                }
                            }
                        }
                        .div-2 {
                            margin-top: -11px;
                            display: flex;
                            p {
                                margin-left: 3px;
                                margin-top: 1px;
                                font-size: 12px;
                                color: grey;
                            }
                            i {
                                font-size: 17px;
                                color: grey;
                            }
                            h5 {
                                margin-top: 2px;
                                margin-left: 7px;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tabs1 {
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        margin-bottom: 20px;
        
        .tab1 {
            padding: 5px;
            width: 290px;
            height: 40px;
            font-size: 30px;
            background-color: #f1f0f0;
            margin: 25px auto 10px 40px;
            border-radius: 30px;
            button {
                margin-left: 5px;
                border: none;
                width: 81px;
                height: 30px;
                &:hover {
                    border-radius: 30px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    height: 37px;
                    width: 70px;
                    background-color: white;
                }
            }
        }
        .content1 {
            width: 320px;
            margin-left: 35px;
            margin-top: 20px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            select {
                width: 100%;
                padding: 8px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .product-list {
                height: 200px;
                overflow-y: scroll;
                .product {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 1px solid #eaeaea;

                    .product-info {
                        .product-name {
                            display: block;
                            font-weight: bold;
                        }

                        .product-price {
                            color: #888;
                            font-size: 14px;
                        }
                    }

                    .product-quantity {
                        display: flex;
                        align-items: center;

                        button {
                            background-color: #f4f4f4;
                            border: none;
                            padding: 5px 10px;
                            cursor: pointer;
                            border-radius: 5px;

                            &:hover {
                                background-color: #eaeaea;
                            }
                        }

                        .quantity {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
        .summary-card {
            margin-left: 40px;
            background-color: #f9f9f9;
            padding: 10px;
            margin-top: 20px;
            height: 226px;
            border-radius: 10px;
            width: 297px;
            font-family: Arial, sans-serif;

            h2 {
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: 18px;
                color: #333;
            }

            .coupon {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgb(208, 208, 208);
                margin-bottom: 10px;

                .coupon-code {
                    margin-top: 5px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    font-size: 14px;
                    color: #000;
                    i {
                        font-size: 15px;
                    }
                }

                .coupon-discount {
                    font-size: 14px;
                    color: #888;
                }
            }

            .summary-details {
                margin-bottom: 15px;

                .summary-item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 7px;
                    font-size: 14px;

                    span:last-child {
                        font-weight: bold;
                    }
                }
            }

            .total {
                display: flex;
                justify-content: space-between;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .actions {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                .pay-btn {
                    height: 40px;
                    width: 200px;
                    background-color: #28a745;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #218838;
                    }
                }

                .more-btn {
                    height: 40px;
                    background-color: white;
                    color: #000;
                    padding: 10px 20px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}




